* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1c1e21;
}

h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, sans-serif;    
}


#head{
    text-align: left;
}

.container {
    display: flex;
    padding-top: 10px;
    justify-content: flex-end;
    align-items: stretch;
    gap: 40px;
    flex: 1;
    width: 100%;
}

.logo {
    margin: 20px 0 0 20px;
    align-self: flex-start;
    z-index: 999;
}

.left {
    flex: 1;
    padding-top: 30px;
    text-align: center;
}

.right {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    border-left: 1.7px solid rgb(231, 229, 229);
    padding: 0 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px ;
}
.right input{
    padding: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}
.right button{
    width: 100%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid lightgray;
    margin-bottom: 12px;
}

.login-part {
    margin-bottom: 50px;
}
.login-part a {
    display: block;
    text-align: center;
    color: #1c1e21;
    text-decoration: none;
    margin-top: 6px;
}
.login-part p {
    margin-bottom: 10px;
}
.login-part a:hover {
    text-decoration: underline;
}
.login {
    background-color: rgb(0, 136, 244)  ;
    color: white;
    text-align: center;
}
.facebook {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 25px;
    margin-bottom: 10px;
}
.facebook a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.other-part button {
    border-color: rgb(0, 136, 244);
}
.new-acc {
    background-color: white;
    border-color: rgb(0, 136, 244);
    color: rgb(0, 136, 244);
}
.meta {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #1c1e21;
    font-size: 14px;
}
.gradient{
    background: linear-gradient(to right, orange, red, purple);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline;
}
.footer {
    border-top: 1px solid lightgray;
    padding: 20px;
    color: gray;
    text-decoration: None;
    font-size: 20px;
    padding-top: 0;
    text-align: center;
}
.footer a{
    color: gray;
    text-decoration: None;
    margin: 8px;
    font-size: 12px;
}
.footer-links {
    margin: 10px;
}

.footer-meta{
    font-size: 16px;
}

@media (max-width: 900px) {
    body {
        align-items: stretch;
    }

    .container {
        flex-direction: column;
        gap: 0;
    }

    .left {
        display: none; 
    }

    .logo {
        position: static;
        margin: 20px auto 10px;
    }

    .right {
        border-left: none;
        padding:80px;
        width: 100%;
    }

    .right::before {
        content: "";
        display: block;
        border-top: 1px solid lightgray;
        margin-bottom: 20px;
    }

    .login-part p {
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
    }

    .footer {
        font-size: 11px;
        padding: 10px;
    }
}

@media (max-width: 798px) {
    .logo {
        margin: 20px auto;
    }
}

.input-box {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-box input {
    width: 100%;
    height: 50px;
    padding: 15px 10px 10px 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    outline: none;
  }
  
  .input-box label {
    position: absolute;
    left: 12px;
    top: 12px;             
    font-size: 14px;
    color: gray;
    pointer-events: none;
    transition: 0.3s;
    background: white;
    padding: 0 5px;
  }
  
  .input-box input:focus + label,
  .input-box input:not(:placeholder-shown) + label {
    top: 6px;               
    font-size: 12px;
    color: gray;
  }
  